aside {
  background-color: $gray-4;
  padding: 1.25rem 5% !important;
  margin-top: 2rem;
  margin-bottom: 2.25rem;
  word-wrap: break-word;
  // white-space:
  aside {
    margin: 1rem 0;
  }
  h5 {
    // @extend %smallcaps;
    // font-size: 1rem;
    color: $gray-4;
    margin-top: 1.25rem;
    margin-bottom: .5rem;
    & + p {
      margin-top: 0;
    }
  }
  pre {
    margin: 1rem 0;
  }
}
