// Grid Defaults
$center-width: 70%;
$gutter: 4%;

$sans: 'Marr Sans', -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$sans-cond: 'Marr Sans Condensed', 'Marr Sans', -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-headline: 'Lyon Display', 'Lyon Text', Georgia, serif;
$serif-body: 'Lyon Text', Georgia, serif;

$gray-1: #2b2c2e;
$gray-2: #464244;
$gray-3: #625959;
$gray-4: #7d6f6f;
$gray-5: #a09695;
$gray-6: #b1a9a8;
$gray-7: #d4cfce;
$gray-8: #e6e3e1;
$gray-9: #f8f8f8;
$gray-10: white;
$primary-1: #3cb776;
$primary-2: #5DE69E; //#41c984; //#3c9f6c;
$primary-3: #4e846a;

//  Media Query Widths
$width-xl: 103.125em; // 1650px
$width-l: 75.000em;	// 1200px
$width-m: 64.375em; // 1030px
$width-s: 37.500em; // 600px
$width-xs: 25.000em; // 400px

// Media Query Heights
$height-sm: 31.250em; // 500px
$height-med: 43.750em; // 700px
$height-lg: 50.000em; // 800px

//
// $gray-1: #fefdfb;
// $gray-4: #f7f6f4;
// $gray-13: #dfdedc;
// $gray-55: #8e8d8c;
// $gray-70: #4d4b4a;
// $gray-80: #333333;
// $gray-90: #252525;

// Syntax highlighting ?
// $code-blue: #3f8a8b;
// $code-yellow: #e59431;
// $code-red: #e85b4a;
